server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/civitas_auth_db
    username: admin
    password: password123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update  # Crea le tabelle in automatico all'avvio
    show-sql: true      # Ti fa vedere le query nel terminale (utile per debug)