apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: api-gateway:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            # Diciamo al Gateway dove trovare gli altri servizi NEL CLUSTER
            - name: SPRING_CLOUD_GATEWAY_ROUTES_0_URI
              value: "http://auth-service:8081"
            - name: SPRING_CLOUD_GATEWAY_ROUTES_1_URI
              value: "http://ticket-service:8082"
            - name: SPRING_CLOUD_GATEWAY_ROUTES_2_URI
              value: "http://analytics-service:8083"
            - name: SPRING_CLOUD_GATEWAY_ROUTES_3_URI
              value: "http://notification-service:8084"

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer