#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  flex-grow: 1;
  /* Fa sì che la mappa occupi tutto lo spazio rimanente sotto l'header */
  width: 100%;
  height: 100%;
}

/* Importante per Leaflet: se il contenitore non ha altezza, la mappa sparisce */
.leaflet-container {
  width: 100%;
  height: 100%;
}