server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          # --- CONFIGURAZIONE CORS ---
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"

          # --- CONFIGURAZIONE ROUTING ---
          routes:
            - id: auth-route
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**

            - id: ticket-route
              uri: http://localhost:8082
              predicates:
                - Path=/tickets/**

            - id: analytics-route
              uri: http://localhost:8083
              predicates:
                - Path=/analytics/**

            - id: notification-route
              uri: http://localhost:8084
              predicates:
                - Path=/notifications/**